In [1]:
# importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
# reading the data
data = pd.read_csv("titanic_train.csv")

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
# shape of data
data.shape

(891, 12)

In [5]:
# read first 5 record
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

### Find columns having NaN values

In [6]:

def find_nanValues(col):
      if data[col].isnull().values.sum() > 0:
            nan_col.append(col)
            nan_col_perc.append(data[col].isnull().mean()*100)

In [7]:
# initialize nan column list
nan_col = []
nan_col_perc = []

for c in data.columns:
    find_nanValues(c)
#print column having NaN values
for i in zip(nan_col,nan_col_perc):
    print(i)

('Age', 19.865319865319865)
('Cabin', 77.10437710437711)
('Embarked', 0.22446689113355783)

### Remove NaN values from "Age" column

In [8]:
# check for missing values in the dataset
data['Age'].fillna(data['Age'].mean(),inplace=True)

### Remove NaN values from "Embarked" column

In [9]:
# check uniques values before removing NaN values
data['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [10]:
# 
data['Embarked'].value_counts(dropna=False)

S      644
C      168
Q       77
NaN      2
Name: Embarked, dtype: int64

In [11]:
# remove Nan values
data['Embarked'].fillna(data['Embarked'].mode(),inplace=True)

###  NOT ABLE TO REMOVE NAN VALUES

In [12]:
data['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [13]:
# fit Male column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le.fit(data['Sex'])
data['Sex'] = le.transform(data['Sex'])

In [14]:
# le.fit(data['Embarked'].astype(str))
# data['Embarked'] = le.transform(data['Embarked'])

### Convert Sex colum into numberical feature

In [15]:
# import labael encoder
from sklearn.preprocessing import LabelEncoder

# fit Male column
le = LabelEncoder()
le.fit(data['Sex'])
data['Sex'] = le.transform(data['Sex'])

In [16]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [17]:
# separate dependent and independent variable
y = data['Survived']
x = data.drop(['Survived','Name','Ticket','Cabin','Embarked'],axis=1)

In [18]:
# check the shape of x and y
print(x.shape,y.shape)

(891, 7) (891,)

In [19]:
# importing test and train split function
from sklearn.model_selection import train_test_split

In [20]:
# split in train and test data
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.25,random_state=101,stratify=y)

In [21]:
print(x_train.shape,x_test.shape)

(668, 7) (223, 7)

In [22]:
data['Age'].unique()

array([22.        , 38.        , 26.        , 35.        , 29.69911765,
       54.        ,  2.        , 27.        , 14.        ,  4.        ,
       58.        , 20.        , 39.        , 55.        , 31.        ,
       34.        , 15.        , 28.        ,  8.        , 19.        ,
       40.        , 66.        , 42.        , 21.        , 18.        ,
        3.        ,  7.        , 49.        , 29.        , 65.        ,
       28.5       ,  5.        , 11.        , 45.        , 17.        ,
       32.        , 16.        , 25.        ,  0.83      , 30.        ,
       33.        , 23.        , 24.        , 46.        , 59.        ,
       71.        , 37.        , 47.        , 14.5       , 70.5       ,
       32.5       , 12.        ,  9.        , 36.5       , 51.        ,
       55.5       , 40.5       , 44.        ,  1.        , 61.        ,
       56.        , 50.        , 36.        , 45.5       , 20.5       ,
       62.        , 41.        , 52.        , 63.        , 23.5       ,
        0.92      , 43.        , 60.        , 10.        , 64.        ,
       13.        , 48.        ,  0.75      , 53.        , 57.        ,
       80.        , 70.        , 24.5       ,  6.        ,  0.67      ,
       30.5       ,  0.42      , 34.5       , 74.        ])

In [23]:
x_train.head()

     PassengerId  Pclass  Sex        Age  SibSp  Parch     Fare
117          118       2    1  29.000000      1      0  21.0000
884          885       3    1  25.000000      0      0   7.0500
60            61       3    1  22.000000      0      0   7.2292
487          488       1    1  58.000000      0      0  29.7000
485          486       3    0  29.699118      3      1  25.4667

In [24]:
print(y_train.shape,y_test.shape)

(668,) (223,)

In [25]:
# import decision tree classifier 
from sklearn.tree import DecisionTreeClassifier

In [26]:
# creating decision tree clasifier function
dt_model = DecisionTreeClassifier(random_state=10)

In [27]:
# fit the model
dt_model.fit(x_train,y_train)

DecisionTreeClassifier(random_state=10)

In [28]:
# checking the training score
dt_model.score(x_train,y_train)

1.0

In [29]:
# checking the validation score
dt_model.score(x_test,y_test)

0.7488789237668162

In [30]:
# prediction the validation set
y_pred = dt_model.predict(x_test)

In [31]:
dt_model.predict_proba(x_test)

array([[0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 0.]])

### check accuracy of Y_pred and Y_actual

In [32]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.7488789237668162

### Changing the max_depth of the tree

In [34]:
train_accuracy = []
validation_accuracy = []
for depth in range(1,11):
    dt_model = DecisionTreeClassifier(max_depth=depth,random_state=10)
    dt_model.fit(x_train,y_train)
    train_accuracy.append(dt_model.score(x_train,y_train))
    validation_accuracy.append(dt_model.score(x_test,y_test))

In [35]:
frame =  pd.DataFrame({'train accuracy':train_accuracy,"validation accuracy":validation_accuracy})
frame

   train accuracy  validation accuracy
0        0.803892             0.735426
1        0.803892             0.735426
2        0.830838             0.766816
3        0.854790             0.784753
4        0.857784             0.780269
5        0.868263             0.793722
6        0.886228             0.807175
7        0.901198             0.802691
8        0.923653             0.775785
9        0.944611             0.757848

### Lets compare the score by plotting graph